<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div style="text-align: center"><h1>CONTRACT DE PRESTARI SERVICII</h1></div>
<div style="text-align: center"><h3>Nr: ........ </h3></div>
<p>Intre:</p>

<ol>
    <li><strong>{{ bid.supplier.company.name }}</strong>, reprezentata de <strong>{{ bid.supplier.fullName }}</strong>
        in calitate de PRESTATOR, Si
    </li>
    <li><strong>{{ bid.tag.project.creator.company.name }}</strong>, reprezentata de
        <strong>{{ bid.tag.project.creator.fullName }}</strong> in calitate de BENEFICIAR,
    </li>
</ol>

<p>Denumiti in cele ce urmeaza in mod individual „Partea” si colectiv „Partile”,</p>

<p>Au agreat incheierea prezentului Contract de prestari servicii („Contractul”), in urmatoarele conditii:</p>

<p><span style="font-weight: bold;">1. Obiectul Contractului</span></p>
<p style="margin-left: 25px;"><span style="font-weight: bold;">1.1.</span> Obiectul Contractului il reprezinta prestarea de servicii din sfera industriei
    imobiliare precum
    închiriere de spații, livrare de echipamente, servicii și facilități pentru birouri, precum si alte
    tipuri de servicii necesare pentru derularea afacerilor asa cum sunt ele enumerate la art. 1.2
</p>

<p style="margin-left: 25px"><span style="font-weight: bold;">1.2.</span> Serviciile care vor fi prestate de catre Prestator sunt („Serviciile”):</p>

<p style="margin-left: 50px"><span style="font-weight: bold;">1.2.1</span> {{ bid.tag.keyword.value }}: {{ bid.tag.keyword.description }}</p>

<p><span style="font-weight: bold;">2. Descrierea si identificarea spatiului inchiriat (daca este cazul)</span></p>
<p style="margin-left: 25px"><span style="font-weight: bold;">2.1.</span> ...</p>

<p><span style="font-weight: bold;">3. Pretul Contractului</span></p>
<p style="margin-left: 25px"><span style="font-weight: bold;">3.1.</span> Pentru Serviciile prestate, Beneficiarul va plati Prestatorului un pret in valoare de
    <strong>{{ bid.price }}</strong></p>
<p style="margin-left: 25px"><span style="font-weight: bold;">3.2.</span> Pentru serviciile de inchiriere, Serviciile se vor factura la inceputul lunii pentru
    luna in curs,
    iar plata se va realiza, conform detaliilor mentionate in factura, in maxim 15 zile lucratoare
    calculate de la data receptionarii facturii de catre Beneficiar</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">3.3.</span> Pentru alte servicii cu exceptia celor de inchiriere, Serviciile se vor achita la
    momentul livrarii
    si semnarii unui proces verbal de acceptanta/predare-primire</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">3.4.</span> Platile Serviciilor se vor realiza in contul Prestatorului deschis la Banca <strong>{{ bid.supplier.company.bank }}</strong>
    IBAN <strong>{{ bid.supplier.company.iban }}</strong></p>
<p><span style="font-weight: bold;">4. Durata Contractului</span></p>
<p style="margin-left: 25px"><span style="font-weight: bold;">4.1.</span> Prezentul Contract se incheie pentru o perioada de ..... luni, calculata incepand cu
    data de
    astazi, ......</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">4.2.</span> Contractul se prelungeste automat cu durate succesive de cate o luna, in cazul in care
    Partile nu hotarasc altfel.</p>
<p><span style="font-weight: bold;">5. Obligatiile Partilor</span></p>
<p style="margin-left: 25px"><span style="font-weight: bold;">5.1.</span> Prestatorul este obligat la realizarea prestatiei pe care si-a asumat-o in
    conformitate cu
    dispozitiile art. 1 din prezentul Contract, prompt, fara deficiente, cu respectarea dispozitiilor
    legale, normativelor si regulamentelor aplicabile in domeniul Serviciilor furnizate
    Beneficiarului.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">5.2.</span> Sa tina la curent Beneficiarul cu privire la toate demersurile realizate pentru
    indeplinirea
    obiectului Contractului si sa obtina de la Beneficiar toate informatiile si/sau documentele ce ii
    sunt necesare pentru buna executare a obligatiilor sale si pentru a finaliza Serviciile potrivit
    termenilor agreati cu Beneficiarul. Cu exceptia cazurilor in care Beneficiarul, unic detinator al
    acestora, nu i-a furnizat Prestatorului informatiile/documentele necesare in vederea
    executarii Serviciilor, Prestatorul nu se poate prevala de necunoasterea oricaror informatii
    si/sau documente ce ii sunt necesare in vederea executarii Serviciilor pentru a justifica
    executarea defectuoasa si/sau cu intarziere a acestora.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">5.3.</span> Sa protejeze numele Beneficiarului pe o durata nedeterminata, chiar si dupa incetarea
    prezentului Contract din orice cauza, adoptand o conduita care sa nu conduca la
    prejudicierea morala sau materiala a Beneficiarului.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">5.4.</span> Prestatorul va executa Serviciile din prezentul actionand in calitate de contractant
    independent care lucreaza pe propriul risc si propria responsabilitate.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">5.5.</span> Beneficiarul este obligat la plata Pretului aferent prestatiei, in conditiile
    stabilite la art. 3 din
    prezentul Contract.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">5.6.</span> Ambele parti sunt obligate la pastrarea confidentialitatii informatiilor si datelor
    obtinute in
    virtutea si pentru executarea prezentului contract</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">5.7.</span> Prestatorul isi asuma obligatia de a nu cesiona sau de a subcontracta prezentul
    Contract
    fara acordul prealabil scris la Beneficiarului.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">5.8.</span> Ambele parti se obliga sa achite comisionul de intermediere catre SC 4E Software SRL,
    in
    calitate de detinator al platformei TempRent</p>
<p><span style="font-weight: bold;">6. Confidentialitate</span></p>
<p style="margin-left: 25px"><span style="font-weight: bold;">6.1.</span> Partile convin ca pe durata prezentului Contract si dupa incetarea acestuia pe durata
    nelimitata sa nu dezvaluie catre terti Informatii Confidentiale fara acordul celeilalte parti
    (informatii, date, documente, studiile, rapoartele, sisteme, procese, strategii, idei, materiale,
    secrete comerciale, scheme, planuri de afaceri, concepte sau alte astfel de detalii de care
    Partile iau cunostinta cu ocazia executarii Contractului/in legatura cu executarea
    Contractului, indiferent de mijlocul de stocare sau de metoda de comunicare a acestora,
    informatii care nu sunt publice la data la care au fost dezvaluite, indiferent daca acestea sunt
    marcate ca fiind confidentiale sau nu).</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">6.2.</span> O parte contractanta nu are dreptul, fara acordul scris al celeilalte parti:</p>
<p style="margin-left: 50px"><span style="font-weight: bold;">a)</span> de a face cunoscuta orice prevedere a Contractului unei terte parti, in afara acelor
    persoane implicate in indeplinirea Contractului si fata de care partile s-au asigurat ca
    sunt tinute de obligatii de confidentialitate la fel de stricte precum cele din prezentul
    Contract;</p>
<p style="margin-left: 50px"><span style="font-weight: bold;">b)</span> de a utiliza informatiile si documentele obtinute sau la care are acces in perioada de
    derulare a Contractului, in alt scop decat acela de a-si indeplini obligatiile
    contractuale.</p>

<p style="margin-left: 25px"><span style="font-weight: bold;">6.3.</span> Obligatia de confidentialitate din prezentul Contract nu se va aplica informatiilor
    care:</p>
<p style="margin-left: 50px"><span style="font-weight: bold;">a)</span> sunt ori au devenit informatii publice, pe alta cale decat prin incalcarea clauzelor
    prezentului Contract.</p>
<p style="margin-left: 50px"><span style="font-weight: bold;">b)</span> sunt in posesia legala a unei Parti, inainte de a fi primite de la cealalta Parte;</p>
<p style="margin-left: 50px"><span style="font-weight: bold;">c)</span> Partea a primit informatia cu buna credinta de la o terta parte care avea dreptul sa
    divulge informatia, si nu direct sau indirect de la cealalta Parte.</p>
<p style="margin-left: 50px"><span style="font-weight: bold;">d)</span> sunt solicitate de autoritatile statului sau de alte persoane carora, prin lege, aceste
    acte
    sau informatii trebuie comunicate.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">6.4.</span> Orice Parte va putea dezvalui Informatiile Confidentiale catre Reprezentantul ei fara
    a avea
    nevoie de acordul scris prealabil al celeilalte Parti, dar numai daca acest Reprezentant are
    obligatii de confidentialitate la fel de stricte, in conformitate cu termenii si conditiile acestui
    Contract. In scopul acestui Contract, un „Reprezentant” al vreunei Parti va insemna oricare
    dintre afiliatii Partii sau administratorii, functionarii, angajatii, contractantii, agentii si consilierii
    Partii (financiari, contabili, legali si de orice alta natura). In cazul prevazut la art. 5.4, lit. d),
    Partea obligata sa dezvaluie Informatiile Confidentiale va notifica de indata cealalta Parte cu
    privire la aceasta.</p>

<p><span style="font-weight: bold;">7. Prelucrarea datelor cu caracter personal</span></p>
<p style="margin-left: 25px"><span style="font-weight: bold;">7.1.</span> Partile inteleg si sunt de acord ca pe parcursul sau in legatura cu executarea
    Contractului
    este posibil ca Beneficiarul sa aiba acces la sau sa prelucreze date cu caracter personal
    prelucrate de catre Prestator, in sensul Regulamentului (UE) 2016/679 privind protectia
    persoanelor fizice in ceea ce priveste prelucrarea datelor cu caracter personal si privind
    libera circulatie a acestor date („GDPR”). Prestatorul se obliga ca, pentru aceste date, sa
    detina toate aprobarile si autorizatiile necesare pentru ca Beneficiarul sa poata prelucra in
    mod legal aceste date, inclusiv consimtamantul persoanelor vizate, daca este cazul.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">7.2.</span> Prestatorul va fi singurul responsabil pentru acuratetea, calitatea si legalitatea
    prelucrarii
    datelor cu caracter personal, precum si pentru modalitatea in care Prestatorul a colectat
    aceste date. Beneficiarul nu va avea nicio obligatie de a verifica conformitatea afirmatiilor

    Prestatorului in legatura cu prelucrarea datelor personale la care are acces in cursul
    executarii Contractului.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">7.3.</span> Beneficiarul nu va fi raspunzator pentru datele cu caracter personal prelucrate de
    Prestator
    care exced scopului pentru care sunt prelucrate, in conformitate cu cele convenite prin
    prezentul Contract.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">7.4.</span> Pe durata executarii acestui Contract, fiecare Parte poate colecta, stoca si utiliza
    mai multe
    categorii de date cu caracter personal, inclusiv nume, prenume, numar de telefon, adresa de
    e-mail, functie si semnatura in legatura cu reprezentantii, persoane de contact sau angajatii
    celeilalte Parti. Aceste date pot fi colectate de la cealalta Parte sau direct de la persoana
    vizata.</p>
<p><span style="font-weight: bold;">8. Incetarea Contractului</span></p>
<p style="margin-left: 25px"><span style="font-weight: bold;">8.1.</span> Contractul poate inceta oricand prin acordul partilor sau ca urmare a indeplinirii
    termenului
    contractual si nu a intervenit prelungirea.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">8.2.</span> Nerespectarea obligatiilor asumate de catre oricare din parti da drept celeilalte
    parti la
    rezilierea unilaterala a Contractului. Partea afectata va notifica cealalta Parte cu mentiunea
    de remediere a incalcarii, in maxim 3 zile lucratoare, in caz contrar, Contractul urmand a
    inceta automat, fara a fi necesara indeplinirea vreunei alte formalitati, incepand cu ziua
    urmatoare expirarii celor 3 zile lucratoare; in cazul in care nu poate opera o remediere,
    Partea afectata are optiunea incetarii imediate a Contractului, ce va opera incepand cu ziua
    receptiei notificarii de incetare de catre cealalta Parte. Partile sunt exonerate de raspundere,
    numai atunci cand neexecutarea obligatiilor asumate prin prezentul Contract a fost cauzata
    de un eveniment de forta majora astfel cum este acesta definit de legislatia in vigoare.
    Interventia evenimentului de forta majora va fi notificat de catre Partea afectata celeilalte
    Parti in maxim 5 zile de la interventia cazului de forta majora si va lua toate masurile (daca
    nu sunt prea costisitoare) pentru a limita efectele cazului de forta majora asupra obligatiilor
    de indeplinit. In caz de neintelegere, evenimentul de forta majora trebuie atestat de Camera
    de Comert si Industrie sau de orice alta institutie sau autoritate neutra, care poate emite un
    asemenea document. Partea care invoca forta majora sau cazul fortuit va notifica de
    asemenea cealalta Parte asupra incetarii cazului de forta majora sau cazului fortuit in termen
    de 5 zile de la incetare. In cazul in care forta majora sau cazul fortuit dureaza mai mult de 30
    de zile calendaristice, oricare dintre Parti poate denunta unilateral contractul, printr-o
    notificare scrisa adresata celeilalte parti, fara interventia instantei si fara vreo obligatie de
    despagubire in acest caz.</p>
<p><span style="font-weight: bold;">9. Dispozitii finale</span></p>
<p style="margin-left: 25px"><span style="font-weight: bold;">9.1.</span> Legea ce guverneaza prezentul Contract este legea romana, iar orice litigiu decurgand
    din
    sau in legatura cu prezentul Contract, inclusiv cu privire la incheierea, executarea ori
    desfiintarea lui, se va solutiona pe cale amiabila. Daca Partile nu ajung la o intelegere
    amiabila in maxim 60 de zile de la declansare, litigiile se vor solutiona de catre instantele de
    judecata competente de la sediul Beneficiarului.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">9.2.</span> Orice comunicare intre Parti in legatura cu acest Contract se va face prin (i)
    scrisoare
    recomandata cu confirmare de primire la adresele mentionate in preambul; sau (ii) email la
    coordonatele Beneficiar {{ bid.tag.project.creator.email }} si Prestator {{ bid.supplier.email }} sau
    la orice alte coordonate pe care una dintre Parti le va transmite celeilalte Parti in
    conformitate cu aceasta clauza pe parcursul derularii Contractului.</p>
<p style="margin-left: 25px"><span style="font-weight: bold;">9.3.</span> Niciun termen sau prevedere din Contract nu se va schimba sau modifica printr-o
    declaratie,
    actiune sau fapta anterioara sau ulterioara a vreuneia dintre Parti, cu exceptia faptului ca
    Partile pot modifica prezentul Contract, exclusiv in scris, printr-un act aditional semnat de
    sau in numele ambelor Parti la prezentul Contract.
    Prezentul Contract a fost incheiat astazi, [Data], in doua exemplare, cate unul pentru fiecare parte si
    contine intreaga intelegere a Partilor, clauzele contractuale fiin rezultatul acordului Partilor.
</p>
<div style="width: 100%;">
    <div style="width: 49%; display: inline-block; text-align: center;"><strong>BENEFICIAR</strong></div>
    <div style="width: 49%; display: inline-block; text-align: center;"><strong>PRESTATOR</strong></div>
</div>

<div style="width: 100%;">
    <div style="width: 49%; display: inline-block; text-align: center;"><strong>{{ bid.tag.project.creator.company.name }}</strong></div>
    <div style="width: 49%; display: inline-block; text-align: center;"><strong>{{ bid.supplier.company.name }}</strong></div>
</div>
</body>
</html>