{% extends 'base.html.twig' %}

{% block body %}
    <h3>Your current keywords:
        {% for keyword in user.keywords %}
            <div class="badge badge-info">{{ keyword.value }} <a class="btn btn-sm btn-light"
                                                                 href="{{ path('remove_keyword', { id: keyword.id }) }}"><i
                            class="fa fa-times"></i> </a></div>
        {% endfor %}
    </h3>

    <h3>Available application keywords:</h3>

    <input type="text" class="form-control" id="filter">

    <ul id="keyword-list" class="mt-4">
        {% for keyword in keywords %}
            <li>
                {% if keyword.keyword.status == 0 %}
                    (Not avaliable anymore)
                {% endif %}

                {% if keyword.selected == true %}
                    <strong>{{ keyword.keyword.value }}</strong> | <a
                        href="{{ path('remove_keyword', { id: keyword.keyword.id }) }}"><i class="fa fa-minus-sign"></i>
                    Remove</a>
                {% else %}
                    {{ keyword.keyword.value }} | <a href="{{ path('add_keyword', { id: keyword.keyword.id }) }}"><i class="fa fa-plus-sign"></i> Add</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        function renderKeywords(keywords) {
            $('#keyword-list').empty();

            keywords.forEach(function (keyword) {
                if (keyword.selected) {
                    var item = $('<li><strong>' + keyword.keyword.value + '</strong> | <a href="/profile/keywords/remove/'+keyword.keyword.id+'"><i class="fa fa-minus-sign"></i> Remove</a></li>');
                } else {
                    var item = $('<li>' + keyword.keyword.value + ' | <a href="/profile/keywords/add/'+keyword.keyword.id+'"><i class="fa fa-plus-sign"></i> Add</a></li>');
                }

                $('#keyword-list').append(item);
            });
        }

        $('#filter').on('keyup', function (e) {
            var text = $(this).val();

            $.ajax({
                url: "/profile/keywords/filter",
                method: "POST",
                data: {text: text},
                dataType: "json"
            }).done(function (jsonData) {
                renderKeywords(jsonData.keywords);
            });

        });
    </script>
{% endblock %}
