{% extends 'base.html.twig' %}

{% block body %}
    <h2>Your project to be posted:</h2>

    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">posted by: <a href="{{ path('view_user_profile', {id: project.creator.id}) }}">{{ project.creator.fullName }}</a></h6>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                {% for tag in project.tags %}
                    <div class="badge badge-info" style="font-size: 1.1em; padding: 5px 10px; margin-bottom: 5px;">{{ tag.keyword.value }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="pull-right">
                <a href="{{ path('reset_conversation', {id: project.id}) }}" class="btn btn-link">Let me explain it again!</a>
                <a href="{{ path('project_publish', {id: project.id}) }}" class="btn btn-success">Post it!</a>
            </div>
        </div>
    </div>
{% endblock %}
