{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title"><a href="{{ path('project_details', {id: project.id}) }}">{{ project.name }}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">posted by: <a
                        href="{{ path('view_user_profile', {id: project.creator.id}) }}">{{ project.creator.fullName }}</a>
            </h6>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                {% for tag in project.tags %}
                    <div class="badge badge-info" style="font-size: 1.1em; padding: 5px 10px;">
                        {{ tag.keyword.value }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="pull-left project-stats" style="line-height: 35px;">
                <span class="badge badge-primary"
                      style="margin-left: 5px;">%Completion: {{ project.stats.completion }}%</span>
                <span class="badge badge-primary"
                      style="margin-left: 5px;">Total Bidders: {{ project.stats.bidders }}</span>
                <span class="badge badge-primary"
                      style="margin-left: 5px;">Files Uploaded: {{ project.stats.files }}</span>
            </div>
            <div class="pull-right">
                {% if project.canClose and project.status != 7 %}
                    <a href="{{ path('close_project', { id: project.id }) }}" class="btn btn-primary">Close project</a>
                {% endif %}

                {% if project.status == 7 %}
                    <h4><div class="badge badge-light">Closed</div></h4>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="table-responsive-md">
        {% for tag in project.tags %}
            <table class="table table-borderless table-condensed table-striped"
                   style="margin-top: 30px; border-bottom: 1px solid #888;">
                <tbody>
                <tr style="border-bottom: 1px solid #888;">
                    <td colspan="5">
                        <h6><strong>{{ tag.keyword.value }}</strong></h6>
                        <p class="text-muted small mb-0">Bids: {{ tag.stats.bidders }} |
                            Files: {{ tag.stats.files }}</p>
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td style="width: 15%;">Date</td>
                    <td style="width: 25%">Supplier</td>
                    <td>Notes</td>
                    <td style="width: 15%;">Price</td>
                    <td style="width: 15%;"></td>
                </tr>
                {% for bid in tag.bids %}
                    <tr>
                        <td>{{ bid.createdAt|date('d/m') }}</td>
                        <td>
                            <a href="{{ path('view_user_profile', { id: bid.supplier.id }) }}">{{ bid.supplier.fullName }}</a>
                        </td>
                        <td>{{ bid.note }}</td>
                        <td>{{ bid.price }}</td>
                        <td>
                            <a href="{{ path('project_view_bid', {project: project.id, tag: tag.id, bid: bid.id}) }}">view
                                bid</a>
                            {% if bid.status == 1 %}
                                <span class="badge badge-info">PENDING</span>
                            {% elseif bid.status == 2 %}
                                <span class="badge badge-success">ACCEPTED</span>
                            {% else %}
                                <span class="badge badge-danger">REJECTED</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% if tag.stats.bidders == 0 %}
                    <tr>
                        <td colspan="5" class="text-center text-muted">No bids registered for this tag.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% endfor %}
    </div>

{% endblock %}
